body {
    background-color: #ececea;

}

h1 {
    font-family: 'Courier New', sans-serif;
    font-size:18px;
    margin-bottom:15px;
}
h3 {
    font-family: 'Courier New', sans-serif;
    font-size:18px;
    margin-top:10px;
}
.grouptext {
    font-family: 'Courier New', sans-serif;
    font-size:14px;
    color:white;
}

.axis .tick line{
    stroke:rgb(150,150,150);
}

.axis .tick line, .axis line{
    stroke-width:0px;
}

.node{
    stroke:black;
    stroke-width:0px;
}

.btn-group-a{
    margin:30px 0px 10px 0px;
}

.btn-group{
    margin:0px;
    width:100.5%;
}
.btn-group>.btn{
    padding:3px 0 !important;
    width:12.5%;
    border-radius: 0px;
    font-family: 'Courier New', sans-serif;
}

.canvas{
    width:800;
    min-height:600px;
    height:600;
    background-color: #ffffff;

}
.paddedg {
    padding: 0 15px;
    background-color:#cccccc;
}
p {
    font-family: 'Courier New', serif;
    font-size:18px;
}
/* tooltip */
.container{
    position:relative;
}
    .legendFun{
    position: absolute;
    z-index: 9999;
    height: 175px;
    padding-top: 0px;
    left: 0;
    margin-left: 15px;
    bottom: 100%;
/*    border-radius: 10%;
    border: 1px solid #999;
*/    text-align: left;
    background: #ffffff;
    color: #000;
    opacity: 0;
    margin-bottom: 20px;
    cursor: default;
    pointer-events: none;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
    .legendFunBottom{
    position: absolute;
    z-index: 9999;
    height: 175px;
    padding-top: 0px;
    left: 0;
    margin-left: 15px;
    bottom: 100%;
/*    border-radius: 10%;
    border: 1px solid #999;
*/    text-align: left;
    background: #ffffff;
    color: #000;
    opacity: 0;
    margin-bottom: 20px;
    cursor: default;
    pointer-events: none;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.custom-tooltip{
    position: absolute;
    z-index: 9999;
    width: 200px;
    height: 175px;
    padding-top: 25px;
    left: 0;
    margin-left: 100px;
    bottom: 100%;
/*    border-radius: 10%;
    border: 1px solid #999;
*/    text-align: left;
/*    background: #fff;
*/    color: #000;
    opacity: 0;
    margin-bottom: 20px;
    cursor: default;
    pointer-events: none;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    
}
    .custom-tooltip .feeling, .custom-tooltip .shame, .custom-tooltip .lettera, .custom-tooltip .letterb{
	    position: absolute;
	    z-index: 9999;
	    width: 200px;
/*	    height: 175px;
*/	    padding-top: 25px;
	    left: 0;
	    margin-left: 0;
	    bottom: 100%;
        font-size:1.2em;
        font-weight:bold;
    }
    .custom-tooltip .activity{
	    position: absolute;
	    z-index: 9999;
	    width: 200px;
/*	    height: 175px;
*/	    padding-top: 25px;
	    left: 0;
	    margin-left: 0;
	    bottom: 100%;
        font-size:1.2em;
        font-weight:bold;
    }
    .custom-tooltip .onpurpose{
	    position: absolute;
	    z-index: 9999;
	    width: 200px;
	    height: 175px;
	    padding-top: 25px;
	    left: 0;
	    margin-left: 0;
	    bottom: 100%;
        font-size:1em;
        font-weight:normal;
    }

/*    .custom-tooltip .shame{
	    position: absolute;
	    z-index: 9999;
	    width: 200px;
	    height: 175px;
	    padding-top: 25px;
	    left: 0;
	    margin-left: 0;
	    bottom: 100%;
        font-size:1.2em;
        font-weight:bold;
    }
*/

